*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-modal {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(64, 64, 64, 0.9);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-modal {
    position: relative;
    width: 350px;
    height: 80px;
    background-color: #fff;  
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.button-modal {
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    border: none;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFF;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
h3 {
  position: absolute;
  color: red;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}